body{
    margin-left: 20;
    padding: 20;
    align-content: center;
}

header{
    background-color: gray;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.currentWeather{
    padding: 30px;
    border: solid 1px lightgray;
    size: 100px;
    width: 580px;
    height: 350px;
}

.fiveDays{
    
    justify-content: space-between;
    align-self: center;
}

button{
    size: 35px;
}